# FastAPI e servidor web
fastapi==0.129.0
uvicorn==0.41.0

# Banco de dados
SQLAlchemy==2.0.46

# Validação de dados
pydantic==2.12.5

# Variáveis de ambiente
python-dotenv==1.2.2

# Geração de PDFs
reportlab==4.0.9